<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" >
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d %red( [%5p] ) %cyan(%logger) | %m %n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>			
		</encoder>
	</appender>

	<logger name="org.springframework" level="ERROR" />

	<logger name="org.hibernate" level="ERROR" />

    <!-- 
	<logger name="org.springframework.orm.jpa.support" level="DEBUG" />
    -->
    
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration> 
