<?xml version="1.0" encoding="UTF-8"?>

<included>

	<timestamp key="bySecond" datePattern="yyyyMMddHHmmss"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d %5p [%thread] %logger | %m %n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>			
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${HOME}/ApplicationData/raiffeisen/logs/${bySecond}-wexpenses.log</file>
		<encoder>
			<pattern>%d %5p [%thread] %logger | %m %n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>		
		</encoder>
	</appender>


	<logger name="org.springframework" level="WARN" />

	<logger name="org.hibernate" level="WARN" />

	<root>
		<level value="INFO" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</included> 
